.producto__btn{
        border: 0;
        font-family: "Bebas";
        font-size: 15px;
        background-color: transparent;
        text-decoration: none;
        color: black;
        cursor: pointer;
}

.producto__btn:hover{
        border: 1px solid black;
        
}