#boton__carrito{
    font-family: "Bebas";
    font-size: 18px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}





























































//Acciones izquierda
// .carrito__acciones__left{
//     cursor: pointer;
//     padding: 10px;
//     border-radius: 1rem;
//     text-transform: uppercase;
// }

// .vaciar{
//     cursor: pointer;
//     border: 0;
//     background-color: transparent;
//     font-family: "Bebas";
// }

// .carrito__acciones__left:hover{
//     border: 1px solid black;
// }

// //total
// .carrito__acciones__total{
//     width: 139.17px;
//     text-align: center;
//     padding: 10px;
//     border-radius: 1rem;
//     text-transform: uppercase;
// }

// #total{
//     border: 0;
//     background-color: transparent;
//     font-family: "Bebas";
// }

// //Derecha
// .carrito__acciones__right{
//     cursor: pointer;
//     padding: 10px;
//     border-radius: 1rem;
//     text-transform: uppercase;
// }

// .carrito__acciones__comprar{
//     cursor: pointer;
//     border: 0;
//     background-color: transparent;
//     font-family: "Bebas";
// }

// .carrito__acciones__comprar:hover{
//     border: 1px solid black;
// }