*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Bebas";
    src: url(../font/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Champions";
    src: url(../font/champion-htf-featherweight.otf);
}

@font-face {
    font-family: "Knockout";
    src: url(../font/Knockout\ HTF49Liteweight\ Regular.otf);
}